<h1> <%=@restaurant.name %></h1>
<div class="info">
  <p>Average rating: <%= @restaurant.average_rating %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <h2> Reviews: </h2>


  <% @restaurant.reviews.each do |review| %>
    <p class="review"><%= review.content %></p>
    <p class="rating">
      <% review.rating.times do %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>

  <% end %>
  </ul>
</div>

<p> <%= link_to "Add Review", new_restaurant_review_path(@restaurant), :class => "btn btn-warning" %></p>

<p> <%= link_to "Return to all restaurants", restaurants_path, :class => "btn btn-warning" %></p>


<!-- add new review link -->

