<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpReviewsHeroku</title>
    <%= csrf_meta_tags %>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Open+Sans:600" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>
  </body>
</html>
